@import "../variables.scss";

:root {
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

body {
    background-color: white;
    color: $text-color;
    padding: 0;
    margin: 0;
    position: relative;

    button {
        font-family: inherit;
        font-weight: inherit;
    }

    h4 {
        margin: 0;
    }

    footer {
        padding: 10rem 20rem;
        line-height: 24px;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        .footer-menu {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .menu-slot {
                display: flex;
                flex-direction: column;
                row-gap: 0.5rem;
            }
        }

        .mobile-menu {
            width: 100%;

            .menu-slot {
                margin-bottom: 1.2rem;

                .slot-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background: $primary-accent;
        }

        .footer-glossary {
            display: flex;
            column-gap: 3rem;
            flex-wrap: wrap;
            align-items: center;

            .social-icons {
                margin-left: auto;
                display: flex;
                align-items: center;
                column-gap: 1rem;

                .icon {
                    height: 1.2rem;
                    color: $primary-color;
                }
            }
        }
    }

    .logo {
        font-size: $title-text;
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media (min-width: $xxs) {
    body {
        .logo {
            font-size: 1.5rem;
        }

        footer {
            padding: 5rem 2rem;
            align-items: center;

            .footer-menu {
                display: none;
            }

            .footer-glossary {
                flex-direction: column-reverse;
                row-gap: 1rem;

                .social-icons {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

@media (min-width: $xs) {
    body {
        footer {
            .mobile-menu {
                width: 70%;
            }
        }
    }
}

@media (min-width: $md) {
    body {
        footer {
            .mobile-menu {
                width: 40%;
            }
        }
    }
}

@media (min-width: $lg) {
    body {
        .logo {
            font-size: 1.5rem;
        }

        footer {
            align-items: flex-start;

            .mobile-menu {
                display: none;
            }

            .footer-menu {
                display: flex;
            }

            .footer-glossary {
                width: 100%;
                flex-direction: row;
                column-gap: 1rem;

                .social-icons {
                    margin-left: auto;
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: $xl) {
    body {
        footer {
            padding: 10rem 20rem;
        }
    }
}

@media (min-width: $xxl) {
    body {
        footer {
            padding: 10rem 20rem;

            .footer-glossary {
                column-gap: 3rem;
            }
        }
    }
}