@import "../variables.module.scss";

ul {
    margin: 0;
    padding-left: 1rem;
    list-style-type: none;

    li::before {
        content: "\276F";
        color: $primary-color;
        font-weight: bold;
        margin-right: 0.5em;
        margin-left: -1rem;
    }

    li {
        padding-bottom: 0.3rem;
    }
}

p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h2 {
    margin-bottom: 3.5rem;
    text-align: center;
    font-size: $title-text;
}

h3 {
    font-size: $subtitle-text;
    padding: 0;
    margin: 0;
}

.container {
    padding: 10rem 20rem;
    line-height: 24px;
}

.hero-container {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;

    h1 {
        text-align: center;
    }
}

.column-container {
    .content {
        display: flex;
        align-items: stretch;
        column-gap: 3rem;

        .slot {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-top: 2rem;
            }

            &.column-slot {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}

.carousal-container {
    padding: 10rem 5rem;
    background-color: $secondary-color;

    .content {
        .custom-carousal {
            .flickity-page-dots {
                width: inherit;
                bottom: 0;
                left: 0;
                right: -10rem;

                .dot {
                    background: $primary-color;
                }
            }

            .flickity-button {
                width: 5rem;
                height: 5rem;
                background: transparent;
                color: $text-color;
            }
        }
    }
}

.team-container {
    .content {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }
}

@media (min-width: $xxs) {
    .container {
        padding: 5rem 2rem;
    }

    .hero-container {
        background-image: url("/images/hero-image-mobile.png");
        min-height: 53rem;

        h1 {
            font-size: $title-text;
            margin-top: -8rem;
        }
    }

    h2 {
        font-size: 1.5rem;
    }

    .column-container {
        h2 {
            text-align: start;
        }

        .content {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    .carousal-container {
        padding: 5rem 2rem 8rem;

        .content {
            .custom-carousal {
                .flickity-page-dots {
                    bottom: -3rem;
                    right: 0rem;
                }

                .flickity-button {
                    display: none;
                }
            }
        }
    }

    .team-container {
        .content {
            display: none;
        }

        .mobile-content {
            .team-carousal {
                .flickity-page-dots {
                    bottom: -2.5rem;
                    .dot {
                        background: $primary-color;
                    }
                }
            }
        }
    }
}

@media (min-width: $md) {
    .container {
        padding: 5rem 10rem;
    }
    .hero-container {
        background-image: url("/images/hero-image.png");

        h1 {
            font-size: $header-text;
            margin-top: inherit;
        }
    }

    .carousal-container {
        padding: 5rem 10rem 8rem;
    }
}

@media (min-width: $lg) {
    .hero-container {
        min-height: 50rem;
    }

    .carousal-container {
        padding: 5rem 3rem;

        .content {
            .custom-carousal {
                .flickity-button {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: $xl) {
    .container {
        padding: 10rem 20rem;
    }

    .carousal-container {
        padding: 10rem 5rem;

        .content {
            .custom-carousal {
                .flickity-button {
                    display: block;
                }
            }
        }
    }

    .team-container {
        .content {
            display: flex;
        }

        .mobile-content {
            display: none;
        }
    }
}

@media (min-width: $xxl) {
    .container {
        padding: 10rem 20rem;
    }

    h2 {
        font-size: $title-text;
    }

    .column-container {
        h2 {
            text-align: center;
        }

        .content {
            flex-direction: row;
        }
    }

    .carousal-container {
        .content {
            .custom-carousal {
                .flickity-page-dots {
                    width: inherit;
                    bottom: 0;
                    left: 0;
                    right: -7rem;
                }
            }
        }
    }
}
