@import "../variables.scss";

.hero-container {
    background-image: url('/images/hero-image.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
    row-gap: 2rem;

    h1 {
        text-align: center;
        font-size: $title-text;
    }
}