@import "../variables.module.scss";

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

    .menu-container {
        display: flex;
        column-gap: 4rem;

        .menu-item {
            position: relative;
            .underline {
                position: absolute;
                top: 2rem;
                width: 100%;
                height: 5px;
                background-color: $primary-color;
                border-radius: 1rem;
            }
        }

        span {
            cursor: pointer;
        }
    }

}

.nav-icon {
    color: $primary-color;
    cursor: pointer;
}

.nav-drawer {
    position: absolute;
    width: 100%;
    background-color: $secondary-color;
    padding: 3rem 0;
    display: flex;
    column-gap: 10rem;
    align-items: flex-start;
    justify-content: center;

    img {
        object-fit: cover;
    }

    .drawer-slot {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}

.mobile-nav-drawer {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 1px solid $primary-accent;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .slot {
        padding: 1.5rem 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $primary-accent;

        &.sub-slot {
            padding-left: 4.5rem;

            h4 {
                font-weight: 500;
            }
        }

        &.sub-link {
            padding-left: 6rem;
            background-color: $primary-background;

            h4 {
                font-weight: 500;
            }
        }
    }

    .mobile-nav-btn {
        width: fit-content;
        margin: 2rem auto;
    }

    h4 {
        font-size: $subtitle-text;
    }
}

@media (min-width: $xxs) {
    nav {
        padding: 2rem 3rem;

        .menu-container, button {
            display: none;
        }

        .mobile-nav {
            display: block;
        }
    }
}
@media (min-width: $lg) {
    nav {
        padding: 3rem;

        .menu-container {
            display: flex;
        }

        button {
            display: block;
        }
        
        .mobile-nav {
            display: none;
        }
    }

    .nav-drawer {
        column-gap: 5rem;
    }
}

@media (min-width: $xl) {
    .nav-drawer {
        column-gap: 8rem;
    }
}

@media (min-width: $xxl) {
    .nav-drawer {
        column-gap: 10rem;
    }
}
